<body>
    <header class="main-header">
        <a class="menu-link" href="/">Home</a>
        <a class="menu-link" href="/addnote">Create New Note!</a>
        <a class="menu-link" href="/savednotes">List of Notes</a>
        <a class="menu-link" href="/admin/editnotes">Admin access</a>

    </header>





