<%- include('./layouts/head.ejs') %>
<%- include('./layouts/navigation.ejs') %>

<main class="welcome-page">
    <h1>NODES APP!</h1>
    <a href="/addnote"><button class="get-started-btn">Get Started!</button></a>
</main>


<%- include('./layouts/end.ejs') %>